.icon-social-media-vk:before {
  content: '\e90d';
}
.icon-social-media-snapchat:before {
  content: '\e90e';
}
.icon-social-media-reddit:before {
  content: '\e90f';
}
.icon-social-media-weibo:before {
  content: '\e910';
}
.icon-social-media-facebook:before {
  content: '\e911';
}
.icon-social-media-youtube:before {
  content: '\e912';
}
.icon-social-media-twitter:before {
  content: '\e913';
}
.icon-social-media-twitch:before {
  content: '\e914';
}
.icon-social-media-instagram:before {
  content: '\e915';
}
.icon-tv-flat-screen:before {
  content: '\e90c';
}
.icon-game-controller:before {
  content: '\e900';
}
.icon-arrow-right-double:before {
  content: '\e908';
}
.icon-arrow-left:before {
  content: '\e909';
}
.icon-arrow-left-double:before {
  content: '\e90a';
}
.icon-arrow-right:before {
  content: '\e90b';
}
.icon-image-edit:before {
  content: '\e906';
}
.icon-remove-circle:before {
  content: '\e907';
}
.icon-user-network:before {
  content: '\e905';
}
.icon-game-pacman:before {
  content: '\e902';
}
.icon-award-medal:before {
  content: '\e903';
}
.icon-keyboard:before {
  content: '\e904';
}
.icon-trophy-star:before {
  content: '\e901';
}
